{% extends 'app/base.html' %}

{% load static %}

{% block navbar %}
<div class="collapse navbar-collapse" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      {% if user.is_authenticated %}
      <a class="nav-link" href="http://127.0.0.1:8000/admin/"><h5 style="color: rgb(255, 255, 255);">Admin</h5></a>
      {% endif %}
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://127.0.0.1:8000/admin/"><h5 style="color: rgb(255, 255, 255);">Admin</h5></a>
    </li>
  </ul>
</div>
{% endblock %}

{% block contenido %}
<div class="container-fluid">
  <div class="row">
        <table class="table table-condensed table-striped bg-white">
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>EMAIL</th>
                    <th>PASSWORD</th>
                    <th>TIPO DE USUARIO</th>
                    <th>IMAGEN</th>
                    <th>FECHA DE INGRESO</th>
                </tr>
            </thead>
            <tbody>
                {% for aux in listarUsuarios %}
                <tr>
                    <td>{{ aux.nombre }}</td>
                    <td>{{ aux.apellido }}</td>
                    <td>{{ aux.email }}</td>
                    <td>{{ aux.password }}</td>
                    <td>{{ aux.tipo_usuario }}</td>
                    {% if aux.imagen %}
                    <td><img src="{{ aux.imagen.url }}" alt="" width="80"></td>
                    {% else %}
                    <td>No tiene imagen...</td>
                    {% endif %}
                    <td>{{ aux.created_ad }}</td>
                    <td>
                        {% if perms.app.change_producto %}
                        <a href="{% url 'modificarUsuario' aux.codigo %}" class="btn btn-info">Modificar</a>
                        {% endif %}
                        {% if perms.app.delete_producto %}
                        <a onclick="eliminarusuario({{ aux.codigo }})" class="btn btn-danger">Eliminar</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>   
   </div>   
</div>
{% endblock %}