{% extends 'app/base.html' %}

{% load static %}

{% block navbar %}
<div class="collapse navbar-collapse" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'productos' %}"><h5 style="color: rgb(255, 255, 255);">Productos</h5></a>
    </li>
  </ul>
    <a href="{% url 'registro' %}" class="btn btn-primary boton botones">Registrarse</a>
    <a href="{% url 'inicio' %}" class="btn btn-success boton botones">Iniciar Sesion</a>
</div>
{% endblock %}

{% block contenido %}
<div class="container-fluid">
  <div class="row">
        <table class="table table-condensed table-striped bg-white">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>NOMBRE</th>
                    <th>MARCA</th>
                    <th>PRECIO</th>
                    <th>STOCK</th>
                    <th>TIPO</th>
                    <th>IMAGEN</th>
                    <th>FECHA INGRESO</th>
                    <th>OPCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for aux in listarProductos %}
                <tr>
                    <td>{{ aux.codigo }}</td>
                    <td>{{ aux.nombre }}</td>
                    <td>{{ aux.marca }}</td>
                    <td>{{ aux.precio }}</td>
                    <td>{{ aux.stock }}</td>
                    <td>{{ aux.tipo }}</td>
                    {% if aux.imagen %}
                    <td><img src="{{ aux.imagen.url }}" alt="" width="80"></td>
                    {% else %}
                    <td>No tiene imagen...</td>
                    {% endif %}
                    <td>{{ aux.fecha_ingreso }}</td>
                    <td>
                        <a href="{% url 'modificarProducto' aux.codigo %}" class="btn btn-info">Modificar</a>
                        <a href="{% url 'eliminarProducto' aux.codigo %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>   
   </div>   
</div>
{% endblock %}