{% extends 'app/base.html' %}

{% load static %}
{% load humanize %}
{% block contenido %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <h4 class="text-center">API de productos</h4>
        {%for aux in listaProductos%}
        <div class="col-sm-12 col-xl-3">
            <div class="bg-secondary text-center rounded p-4">
                <h6 class="mb-0">{{aux.nombre}}</h6>
                <img src="{{aux.imagen}}" alt="" class="img-thumbnail" width="200" height="200">
                <div >
                    <h6 class="mb-0">Precio: {{aux.precio}}</h6>
                    <h6 class="mb-0">Stock: {{aux.stock}}</h6>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}