{% extends 'app/base.html' %}

{% load static %}

{% block navbar%}
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="{%%&}"><h5 style="color: rgb(255, 255, 255);">Productos</h5></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'planes' %}">Suscripción</a>
    </li>
  </ul>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle me-2 botones" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-user"></i>
    </button>
    <div class="dropdown-menu">
        <div class="bg-dark ms-2 me-2 border border-5 border-primary fotoperfil"></div>
        <div class="dropdown-divider"></div>
        <div>
          <a href="{% url 'seguimientoSuscrito' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-truck"></i> Seguimiento</a>
        </div>
        <div>
          <a href="{% url 'carritoNR' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-cart-shopping"></i> Carrito </a>
        </div>
        <div>
          <a href="{% url 'historialdecompras' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-basket-shopping"></i> Historial </a>
        </div>
        <div>
          <a href="{% url 'planes'%}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-star"></i> Suscripción</a>
        </div>
        <div class="dropdown-divider"></div>
        <div class="ms-2" style="cursor: pointer;" onclick="cerrarsesion()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión</div>
    </div>
  </div>
{% endblock %}

{% block contenido%}
<div class="container">

  <div class="card bg-dark mb-3 mt-3">
    <div class="card-body" style="border-radius: 10%;">
      <img src="{% static 'app/img/1.webp'%}" alt="" height="200" class="border border-5">
      <div class="d-flex justify-content-between">
        <p class="card-text" style="font-size: x-large; margin: 0; padding: 0;">Macetero Nórdico Large Negro. </p>
        <p class="card-text" style="font-size: x-large; margin: 0; padding: 0">Precio: $39.990.</p>
      </div>
      <p class="card-text" style="font-size: x-large;">Cantidad: 1. </p>
    </div>
  </div>

  <div class="card bg-dark mb-3 mt-3">
    <div class="card-body">
      <img src="{% static 'app/img/2.webp'%}" alt="" height="200" class="border border-5" style="border-radius: 10%;">
      <div class="d-flex justify-content-between">
        <p class="card-text" style="font-size: x-large; margin: 0; padding: 0">Planta Aria.</p>
        <p class="card-text" style="font-size: x-large; margin: 0; padding: 0">Precio: $29.990.</p>
      </div>
      <p class="card-text" style="font-size: x-large;">Cantidad: 1.</p>
    </div>
  </div>
  
  <div class="card bg-dark mb-3 mt-3">
    <div class="card-body">
      <img src="{% static 'app/img/3.webp'%}" alt="" height="200" class="border border-5" style="border-radius: 10%;">
      <div class="d-flex justify-content-between">
        <p class="card-text" style="font-size: x-large; margin: 0; padding: 0">Macetero Qatar Blanco.</p>
        <p class="card-text" style="font-size: x-large; margin: 0; padding: 0">Precio: $35.990.</p>
      </div>
      <p class="card-text" style="font-size: x-large;">Cantidad: 1.</p>
    </div>
  </div>
  <hr>
  <div class="d-flex justify-content-between">
    <div>
      <p style="margin: 0; padding: 0; font-weight: bold; font-size: x-large;">Descuento: $0</p>
      <p style="margin: 0; padding: 0; font-weight: bold; font-size: x-large;">Total a pagar: $105.970</p>
    </div>
    <button onclick="alertaNR()" type="button" class="btn btn-warning btn-block btn-lg">Proceder a pagar</button>
  </div>
</div>
{% endblock %}