{% extends 'app/base.html' %}

{% load static %}

{% block navbar %}
<div class="collapse navbar-collapse" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'productos' %}">Productos</a>
    </li>
  </ul>
    <a href="{% url 'registro' %}" class="btn btn-primary boton botones">Registrarse</a>
    <a href="{% url 'inicio' %}" class="btn btn-success boton botones">Iniciar Sesion</a>
</div>
{% endblock %}

{% block contenido %}

<div class="text-center bg-image" style="background-image: url('{% static 'app/img/wallpaperflare.com_wallpaper.jpg' %}'); height: 500px; background-size: cover;">
  <div class="d-flex justify-content-center align-items-center h-100">
      <h1 style="color: white;">Florería Online</h1>
  </div>
</div>

<div class="container-fluid bg-dark">
  <div class="row">
    <h4 style="color: white; text-align: center;">Productos Destacados</h4>
      <hr style="color: white;">
    <div class="col-sm-12">
      <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="row">
            <div class="col-sm-12 d-flex justify-content-center">
              <div class="card mb-4 box-shadow">
                <img src="{% static 'app/img/4.webp'%}" alt="" width="400">
                <div class="card-body">
                  <p class="card-text" style= "color: black;">Planta Aria </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-outline-primary" onclick="carrito()">Agregar al carrito</button>
                      <a href="{% url 'carritoNR' %}" class="btn btn-outline-success">Comprar</a>
                    </div>
                    <p>⭐$39.990</p>
                  </div>
                </div>
                <p style="color: green;">ﾠﾠStock: Más de 5 unidades</P>
              </div>
            </div>
          </div>
      </div>

        <div class="carousel-item">
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-center">
                <div class="card mb-4 box-shadow">
                  <img src="{% static 'app/img/2.webp'%}" alt="" width="400">
                  <div class="card-body">
                    <p class="card-text" style= "color: black;">Planta Aria</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary" onclick="carrito()">Agregar al carrito</button>
                        <a href="{% url 'carritoNR' %}" class="btn btn-outline-success">Comprar</a>
                      </div>
                      <p>⭐$39.990</p>
                    </div>
                  </div>
                  <p style="color: green;">ﾠﾠStock: Más de 5 unidades</P>
                </div>
              </div>
            </div>
        </div>
        
        <div class="carousel-item">
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-center">
                <div class="card mb-4 box-shadow">
                  <img src="{% static 'app/img/3.webp'%}" alt="" width="400">
                  <div class="card-body">
                    <p class="card-text" style= "color: black;">Macetero Qatar Blanco</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary" onclick="carrito()">Agregar al carrito</button>
                        <a href="{% url 'carritoNR' %}" class="btn btn-outline-success">Comprar</a>
                      </div>
                      <small class="text-muted">⭐$35.990</small>
                    </div>
                  </div>
                  <p style="color: green;">ﾠﾠStock: Más de 8 unidades</P>
                </div>
              </div>
            </div>
        </div>
      </div>  

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
      <hr style="color: white;">
    </div>
    </div>
  </div>
</div>

{% endblock %}