{% extends 'app/base.html' %}

{% load static %}

{% block navbar%}
<div class="collapse navbar-collapse" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'productos' %}">Productos</a>
    </li>
  </ul>
  <a href="{% url 'registro' %}" class="btn btn-primary boton botones">Registrarse</a>
{% endblock %}

{% block contenido%}
<div class="container">
  <div class="row">
      <div class="col-sm-12">
        <form class="form-inicio" action="/action_page.php">
          <h4>Inicio de sesión</h4>
          <label for="inicio">C O R R E O ﾠﾠﾠE L E C T R Ó N I C O</label>
          <input type="text" class="form-control"  id="inicio">
          <hr>
          <label for="pwd">C O N T R A S E Ñ A</label>
          <input type="password" class="form-control"  id="pwd">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox"> Recordarme
            </label>
          </div>
          <a href="indexRegistrado.html" class="btn btn-primary boton botones">I N G R E S A R</a>
          <hr style="color: white;">
          <a href="" style="color: white;">¿Olvidó su contraseña?</a>
        </form>
      </div>
  </div>
</div>
{% endblock %}