{% extends 'app/base.html' %}

{% load static %}

{% block navbar %}
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'productoRegistrado' %}">Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'planes' %}"><h5 style="color: rgb(255, 255, 255);">Suscripción</h5></a>
    </li>
  </ul>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle me-2 botones" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-user"></i>
    </button>
    <div class="dropdown-menu">
        <div class="bg-dark ms-2 me-2 border border-5 border-primary fotoperfil"></div>
        <div class="dropdown-divider"></div>
        <div>
          <a href="{% static 'seguimiento' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-truck"></i> Seguimiento</a>
        </div>
        <div>
          <a href="{% static 'carrito' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-cart-shopping"></i> Carrito </a>
        </div>
        <div class="dropdown-divider"></div>
        <div class="ms-2" style="cursor: pointer;" onclick="cerrarsesion()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión</div>
    </div>
  </div>
{% endblock %}

{% block contenido %}
<div class="container-fluid">
  <div class="row">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-6 color-izq bg-dark " style="text-align: center;">
                <div class="texto-planes">
                  <h6 style="color: rgb(180, 151, 50);">Por solo $2.500 al mes</h6>
                  <h2 style="color: white;">Suscripción</h2>
                  <p style="color: white;">Esta fundación es sin fines de lucro, sin embargo, nos puedes apoyar con una suscripción por tan solo
                  $2.500 CLP al mes, con esta suscripción tendras un 5% de descuento en todos nuestros productos.</p>
                  <button type="button" class="btn-sub" onclick="suscripcion()">Suscribirse</button>
                </div>
              </div>
              <div class="col-sm-6 banner-izq bg-dark" style="background-image: url('{% static 'app/img/banner-planes.jpg'%}'); background-size: cover;" ></div>
          </div>
      </div>
  </div>
</div>
{% endblock %}