{% extends 'app/base.html' %}

{% load static %}

{% block navbar%}
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'productoRegistrado' %}"><h5 style="color: rgb(255, 255, 255);">Productos</h5></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'planes' %}">Suscripción</a>
    </li>
  </ul>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle me-2 botones" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-user"></i>
    </button>
    <div class="dropdown-menu">
        <div class="bg-dark ms-2 me-2 border border-5 border-primary fotoperfil"></div>
        <div class="dropdown-divider"></div>
        <div>
          <a href="{% url 'seguimiento' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-truck"></i> Seguimiento</a>
        </div>
        <div>
          <a href="{% url 'carrito' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-cart-shopping"></i> Carrito </a>
        </div>
        <div>
          <a href="{% url 'planes' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-star"></i> Suscripción</a>
        </div>
        <div class="dropdown-divider"></div>
        <div class="ms-2" style="cursor: pointer;" onclick="cerrarsesion()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión</div>
    </div>
  </div>
{% endblock %}

{% block contenido %}
<div class="container-fluid">
  <div class="row">
      <div class="col-12">
          <div class="row">
            <h3 style="color: white;">Maceteros</h3>
            <hr>
                <div class="col-sm-3">
                  <div class="card mb-4 box-shadow">
                    <img src="{% static 'app/img/1.webp'%}" alt="" class="imagen-producto">
                    <div class="card-body">
                      <p class="card-text" style= "color: black;">Macetero Nórdico Large Negro</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-outline-primary" onclick="carrito()">Agregar al carrito</button>
                          <a href="{% url 'carritoNR' %}" class="btn btn-outline-success">Comprar</a>
                        </div>
                        <small class="text-muted">⭐$39.990</small>
                      </div>
                    </div>
                    <p style="color: green;">ﾠﾠStock: Más de 20 unidades</P>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="card mb-4 box-shadow">
                    <img src="{% static 'app/img/2.webp'%}" alt="" class="imagen-producto">
                    <div class="card-body">
                      <p class="card-text" style= "color: black;" >Macetero Nórdico Negro S y M</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-outline-primary" onclick="carrito()">Agregar al carrito</button>
                          <a href="{% url 'carritoNR' %}"  class="btn btn-outline-success">Comprar</a>
                        </div>
                        <small class="text-muted">⭐$39.990</small>
                      </div>
                    </div>
                    <p style="color: green;">ﾠﾠStock: Más de 10 unidades</P>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card mb-4 box-shadow">
                    <img src="{% static 'app/img/3.webp'%}" alt="" class="imagen-producto">
                    <div class="card-body">
                      <p class="card-text" style= "color: black;">Macetero Nórdico Blanco S y M</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-outline-primary" onclick="carrito()">Agregar al carrito</button>
                          <a href="{% url 'carritoNR' %}"  class="btn btn-outline-success">Comprar</a>
                        </div>
                        <small class="text-muted">⭐$35.990</small>
                      </div>
                    </div>
                    <p style="color: green;">ﾠﾠStock: Más de 15 unidades</P>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card mb-4 box-shadow">
                    <img src="{% static 'app/img/4.webp'%}" alt="" class="imagen-producto">
                    <div class="card-body">
                      <p class="card-text" style= "color: black;">Macetero Qatar Blanco</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-outline-primary" onclick="carrito()">Agregar al carrito</button>
                          <a href="{% static 'carritoNR' %}"  class="btn btn-outline-success">Comprar</a>
                        </div>
                        <small class="text-muted">⭐$35.990</small>
                      </div>
                    </div>
                    <p style="color: green;">ﾠﾠStock: Más de 2 unidades</P>
                  </div>
                </div>
          </div>
      </div>
    </div>    
          <div class="row">
            <h3 style="color: white;">Plantas</h3>
            <hr>
              <div class="col-sm-3">
                <div class="card mb-4 box-shadow">
                  <img src="{% static 'app/img/Babysusan.png'%}" alt="" class="imagen-producto">
                  <div class="card-body">
                    <p class="card-text" style= "color: black;">Planta Baby Susan</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary" onclick="carrito()">Agregar al carrito</button>
                        <a href="{% static 'carritoNR' %}"  class="btn btn-outline-success">Comprar</a>
                      </div>
                      <small class="text-muted">⭐$19.990</small>
                    </div>
                  </div>
                  <p style="color: green;">ﾠﾠStock: Más de 25 unidades</P>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card mb-4 box-shadow">
                  <img src="{% static 'app/img/planta-aria.png'%}" alt="" class="imagen-producto">
                  <div class="card-body">
                    <p class="card-text" style= "color: black;">Planta Aria</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary" onclick="carrito()">Agregar al carrito</button>
                        <a href="{% url 'carritoNR' %}"  class="btn btn-outline-success">Comprar</a>
                      </div>
                      <small class="text-muted">⭐$29.990</small>
                    </div>
                  </div>
                  <p style="color: green;">ﾠﾠStock: Más de 4 unidades</P>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card mb-4 box-shadow">
                  <img src="{% static 'app/img/planta-bela.webp'%}" alt="" class="imagen-producto">
                  <div class="card-body">
                    <p class="card-text" style= "color: black;">Planta Bela</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group maceterosbtn">
                        <button type="button" class="btn btn-outline-primary" onclick="carrito()">Agregar al carrito</button>
                        <a href="{% url 'carritoNR' %}"  class="btn btn-outline-success">Comprar</a>
                      </div>
                      <small class="text-muted textoprueba">⭐$19.990</small>
                    </div>
                  </div>
                  <p style="color: green;">ﾠﾠStock: Más de 15 unidades</P>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card mb-4 box-shadow">
                  <img src="{% static 'app/img/planta-karin.webp'%}" alt="" class="imagen-producto">
                  <div class="card-body">
                    <p class="card-text" style= "color: black;">Planta Karin</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary" onclick="carrito()">Agregar al carrito</button>
                        <a href="{% url 'carritoNR' %}"  class="btn btn-outline-success">Comprar</a>
                      </div>
                      <small class="text-muted">⭐$39.990</small>
                    </div>
                  </div>
                  <p style="color: green;">ﾠﾠStock: Más de 10 unidades</P>
                </div>
              </div>
            
            <div class="row">
              <h3 style="color: white;">Tierra de hojas</h3>
              <hr>
              <div class="col-sm-3">
                <div class="card mb-4 box-shadow">
                  <img src="{% static 'app/img/tierradehoja-1.jpg'%}" alt="" class="imagen-producto">
                  <div class="card-body">
                    <p class="card-text" style= "color: black;">Tierra de hojas para jardín 80L</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary" onclick="carrito()">Agregar al carrito</button>
                        <a href="{% url 'carritoNR' %}" class="btn btn-outline-success">Comprar</a>
                      </div>
                      <small class="text-muted">⭐$8.790</small>
                    </div>
                  </div>
                  <p style="color: green;">ﾠﾠStock: Más de 10 unidades</P>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card mb-4 box-shadow">
                  <img src="{% static 'app/img/tierradehoja-2.jpg'%}" alt="" class="imagen-producto">
                  <div class="card-body">
                    <p class="card-text" style= "color: black;">Tierra de hojas para jardín 80L</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary" onclick="carrito()">Agregar al carrito</button>
                        <a href="{% url 'carritoNR' %}"  class="btn btn-outline-success">Comprar</a>
                      </div>
                      <small class="text-muted">⭐$8.790</small>
                    </div>
                  </div>
                  <p style="color: green;">ﾠﾠStock: Más de 10 unidades</P>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card mb-4 box-shadow">
                  <img src="{% static 'app/img/tierradehoja-3.jpg'%}" alt="" class="imagen-producto">
                  <div class="card-body">
                    <p class="card-text" style= "color: black;">Tierra con abono natural 40L</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary" onclick="carrito()">Agregar al carrito</button>
                        <a href="{% url 'carritoNR' %}"  class="btn btn-outline-success">Comprar</a>
                      </div>
                      <small class="text-muted">⭐$4.190</small>
                    </div>
                  </div>
                  <p style="color: green;">ﾠﾠStock: Más de 5 unidades</P>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card mb-4 box-shadow">
                  <img src="{% static 'app/img/tierradehoja-4.jpg'%}" alt="" class="imagen-producto">
                  <div class="card-body">
                    <p class="card-text" style= "color: black;">Tierra para macetero 15L</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary" onclick="carrito()">Agregar al carrito</button>
                        <a href="{% url 'carritoNR' %}"  class="btn btn-outline-success">Comprar</a>
                      </div>
                      <small class="text-muted">⭐$3.690</small>
                    </div>
                  </div>
                  <p style="color: green;">ﾠﾠStock: Más de 20 unidades</P>
                </div>
              </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
