{% extends 'app/base.html' %}

{% load static %}
{% block imagennavbar%}
<a href="{% url 'indexSuscrito' %}" style="margin-right: 10px;"><img src="{% static 'app/img/logonuevo.png' %}" alt="" height="60"></a>
{%endblock%}
{% block navbar %}
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'productoSuscrito' %}"><h5 style="color: rgb(255, 255, 255);">Productos</h5></a>
    </li>
    <li>
      <a class="nav-link" href="{% url 'seguimientoSuscrito' %}">Seguimiento</a>
    </li>
  </ul>

  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle me-2 botones" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-user"></i>
    </button>
    <div class="dropdown-menu">
        <div class="bg-dark ms-2 me-2 border border-5 border-primary fotoperfil"></div>
        <div class="dropdown-divider"></div>
        <div>
          <a href="{% url 'seguimientoSuscrito' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-truck"></i> Seguimiento</a>
        </div>
        <div>
          <a href="{% url 'carritoDesc' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-cart-shopping"></i> Carrito </a>
        </div>
        <div>
          <a href="{% url 'historialsuscrito' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-basket-shopping"></i> Historial </a>
        </div>
        <div>
          <a href="{% url 'indexRegistrado' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-basket-shopping"></i> Desuscribirse </a>
        </div>
        <div class="dropdown-divider"></div>
        <div class="ms-2" style="cursor: pointer;" onclick="cerrarsesion()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión</div>
    </div>
  </div>
{% endblock %}

{% block contenido %}
        <!-- Section-->
        <section class="py-5">
          <div class="container px-4 px-lg-5 mt-5">
              <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {%for aux in listaProductos%}
                  <div class="col mb-5">
                      <div class="card h-100">
                          <!-- Sale badge-->
                          <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Oferta</div>
                          <!-- Product image-->
                          {% if aux.imagen %}
                          <img class="card-img-top" src="{{aux.imagen.url}}" alt="" />
                          {% else %}
                          <img class="card-img-top" src="{% static 'app/img/default-placeholder'%}" alt="" />
                          {% endif %}
                          <!-- Product details-->
                          <div class="card-body p-4">
                              <div class="text-center">
                                  <!-- Product name-->
                                  <h5 class="fw-bolder" style="color: black;">{{aux.nombre}}</h5>
                                  <!-- Product reviews-->
                                  <div class="d-flex justify-content-center small text-warning mb-2">
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                  </div>
                                  <!-- Product price-->
                                  <span class="text-muted">${{aux.precio}}</span>
                                  <div><span class="text-body">Stock: {{aux.stock}}</span></div>
                              </div>
                          </div>
                          <!-- Product actions-->
                          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <form action="" method="POST">

                              {% csrf_token %}
  
                              <input type="hidden" name="txtNombre" value="{{ aux.nombre }}">
                              <input type="hidden" name="txtPrecio" value="{{ aux.precio }}">
                              <input type="hidden" name="txtImagen" value="{{ aux.imagen }}">
                              
                              <input class="btn btn-outline-primary btn-lg" type="submit" onclick="carrito()" value="Agregar al Carrito">
  
                            </form>
                          </div>
                        </div>
                      
                  </div>
                 {%endfor%}
              </div>
          </div>
      </section>
{% endblock %}
