{% extends 'app/base.html' %}

{% load static %}

{% block navbar%}
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'productoRegistrado' %}"><h5 style="color: rgb(255, 255, 255);">Productos</h5></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'planes' %}">Suscripción</a>
    </li>
  </ul>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle me-2 botones" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-user"></i>
    </button>
    <div class="dropdown-menu">
        <div class="bg-dark ms-2 me-2 border border-5 border-primary fotoperfil"></div>
        <div class="dropdown-divider"></div>
        <div>
          <a href="{% url 'seguimiento' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-truck"></i> Seguimiento</a>
        </div>
        <div>
          <a href="{% url 'carritoNR' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-cart-shopping"></i> Carrito </a>
        </div>
        <div>
          <a href="{% url 'historialdecompras' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-basket-shopping"></i> Historial </a>
        </div>
        <div>
          <a href="{% url 'planes' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-star"></i> Suscripción</a>
        </div>
        <div class="dropdown-divider"></div>
        <div class="ms-2" style="cursor: pointer;" onclick="cerrarsesion()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión</div>
    </div>
  </div>
{% endblock %}

{% block contenido %}
<div class="container-fluid">
  <div class="row">
          <div class="row">
            <h3 style="color: white;">Maceteros</h3>
            <hr>
            {%for aux in listaProductos%} 
                <div class="col-sm-3">
                  <div class="card mb-4 box-shadow">
                    <img src="{% static 'app/img/1.webp'%}" alt="" class="imagen-producto">
                    <div class="card-body">
                      <p class="card-text" style= "color: black;">{{aux.nombre}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-outline-primary" onclick="carrito()">Agregar al carrito</button>
                          <a href="{% url 'carrito' %}" class="btn btn-outline-success">Comprar</a>
                        </div>
                        <small class="text-muted">⭐${{aux.precio}}</small>
                      </div>
                    </div>
                    <p style="color: green;">ﾠﾠStock: Mas de {{aux.stock}} stock</P>
                  </div>
                </div>
            {%endfor%}
          </div>
    </div>    
  </div>
</div>
{% endblock %}