{% extends 'app/base.html' %}

{% load static %}

{% block navbar %}
<div class="collapse navbar-collapse" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'productos' %}">Productos</a>
    </li>
  </ul>
  <a href="{% url 'inicio' %}" class="btn btn-success boton botones">Iniciar Sesion</a>
</div>
{% endblock %}

{% block contenido %}
<div class="container mb-5">
  <div class="row justify-content-center">
      <div class="col-sm-12 registro">
          <form class="form-registrar" action="get">
              <h4>Crear Cuenta</h4>
              <label for="nombre">N O M B R E:</label>
              <input type="text" class="form-control" id="nombre">
              <hr>
              <label for="apellido">A P E L L I D O:</label>
              <input type="text" class="form-control" id="apellido">
              <hr>
              <label for="email">C O R R E O ﾠﾠﾠE L E C T R Ó N I C O:</label>
              <input type="email" class="form-control" id="email">
              <hr>
              <label for="pass">C O N T R A S E Ñ A:</label>
              <input type="password" class="form-control" id="pass">
              <hr>
              <a class="btn btn-primary boton botones" onclick="registrado()">R E G I S T R A R</a>
            </form>
      </div>
  </div>
</div>
{% endblock %}