{% extends 'app/base.html' %}

{% load static %}

{% block navbar %}
<div class="collapse navbar-collapse justify-content-end" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'productoRegistrado' %}">Productos</a>
    </li>
    <li>
      <a class="nav-link" href="{% url 'seguimiento' %}"><h5 style="color: rgb(255, 255, 255);">Seguimiento</h5></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'planes' %}">Suscripción</a>
    </li>
  </ul>

    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle me-2 botones" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-user"></i>
      </button>
      <div class="dropdown-menu">
          <div class="bg-dark ms-2 me-2 border border-5 border-primary fotoperfil"></div>
          <div class="dropdown-divider"></div>
          <div>
            <a href="{% url 'seguimiento' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-truck"></i> Seguimiento</a>
          </div>
          <div>
            <a href="{% url 'carrito' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-cart-shopping"></i> Carrito </a>
          </div>
          <div>
            <a href="{% url 'planes' %}" class="ms-2" style="text-decoration: none; color: black;"><i class="fa-solid fa-star"></i> Suscripción</a>
          </div>
          <div class="dropdown-divider"></div>
          <div class="ms-2" style="cursor: pointer;" onclick="cerrarsesion()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión</div>
      </div>
    </div>
{% endblock %}

{% block contenido %}
<div class="container" style="margin-bottom: 15%;">
      
  <form class="form-seguimiento" style="margin-bottom: 25px;">
    <h1 class="text-light">Seguimiento del pedido</h1>
    <label for="seguimiento" style="color: white;">Codigo de Seguimiento:</label>
    <input type="text" class="form-control"  id="seguimiento">
    <button type="submit" class="btn btn-success mt-2" style="margin-bottom: 15px;">Buscar</button>
  </form>

  <section class="intro">
    <div class="gradient-custom-2 h-100">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-dark table-bordered mb-0">         
                  <thead>
                    <tr>
                      <th scope="col">FECHA DE PEDIDO</th>
                      <th scope="col">HORA DEL PEDIDO</th>
                      <th scope="col">DIRECCIÓN</th>
                      <th scope="col">FUE RECIBIDO</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">12/02/2022</th>
                      <td>16:45 PM</td>
                      <td>Avenida Siempre Viva 742</td>
                      <td>Sí</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock%}